# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Reports output folder
reports/
*.pdf
reports/*.md   # Only ignore markdown files inside reports folder

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db